# ignore all node_modules folders and nested folders & files
node_modules
# ignore the specific VS Code configuration parameters
.vscode
# ignore the specific packages versions installed by the developper
.package-lock.json
# ignore the development environment variables (if any)
.env
# some demo needs /dist => removed from .gitignore
#dist
# sometimes it is useful to ignore the following data files : users.json
# users.json